body {
  background-color: #F9F9F9;
    }

#dashboard-head {
  padding: 20px 40px 20px 40px;
  border-radius: 2px;
  margin: 10px 40px 10px 40px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#dashboard-head h1 {
  color: #384259;
  font-size: 25px;
  text-decoration: none;
}

#dashboard-head h2 {
  color: #7AC7C4;
  font-size: 17px;
  text-decoration: none;
}

#dashboard-head img {
  width: 100px;
  height: 100px;
}


.dashboard-tabs {
  background: #FFFFFF;
  display: flex;
  margin: 10px 100px 10px 100px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.dashboard-tabs a {
  color: black;
}
.dashboard-tabs a:hover {
  cursor: pointer;
  color: #7AC7C4;
  background: #384259;
}

.dashboard-tabs h3 {
  font-size: 15px;
  margin-top: 0;
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-align:center;
}
.dashboard-tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.dashboard-tab {
  background: white;
  flex: 0 0 33%;
  text-align: center;
  padding: 20px 0;
}
.dashboard-tab:first-child {
  border-radius: 2px 0 0 0;
}
.dashboard-tab:last-child {
  border-radius: 0 2px 0 0;
}
.dashboard-tab.active {
  background: #384259;
  color: white;
}

.dashboard-tab-content {
  padding: 20px 40px 20px 40px;
  border-radius: 2px;
  margin: 10px 40px 10px 40px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.dashboard-tab-content h1 {
  color: #384259;
  font-size: 25px;
}

.dashboard-tab-content h2 {
  color: #7AC7C4;
  font-size: 20px;
  text-align:center;
}



