.row-show-no-padding{
  padding: 0px;
}





.element {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-top: 20px;
  border-bottom: solid 2px black;
}


.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
  background: #F8F7F7;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}
