.wrapper {
  background-color: #F9F9F9
}

.title {
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
  font-size: 16px;
  color: #384259;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:center;
  padding:5px;
}

.tabs {
  background: white;
  display: flex;
  padding: 0px;
  margin:5px;
  // border: 1px solid #384259;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(190,190,190,0.50);

}

.tabs a {
color: #384259;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.5;
  background: #384259;
  color: white;
}

.tabs h3:hover {
  color: white;
}

.tabs h3 {
  font-size: 17px;
  margin: 0;
  color:#384259;
}

.tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 5px 0 5px 0;
  opacity: 0.6;
}

.tab.active {
  background: #384259;
  font-weight: bolder;
  opacity: 1;
}

.tab.active h3 {
  color: white;
}

.content {
  background-color: white;
  margin-top: 20px;
  // border: 1px solid #384259;
  box-shadow: 0 1px 2px 0 rgba(190,190,190,0.50);
  border-radius: 2px;
  margin-left:20px;
  margin-right:50px;
  color: #384259;
  padding:10px;
}

.contribution-show {
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.contribution-show-card {
  flex: 0 0 48%;
  background-color: white;
  padding:5px;
  margin-bottom: 5px;
  box-shadow: 0 1px 2px 0 rgba(190,190,190,0.50);
  border-radius: 2px
}

.contribution-show-card h4 {
  font-size: 16px;
  font-weight: lighter;
  margin: 0px;
}

.lawyer-flex {
  display:flex;
  align-items: center;
}

.lawyer-item-one {
  flex: 0 0 15%;
}

.lawyer-item-two {
  flex: 0 0 50%;
}

.lawyer-item-three {
  flex: 0 0 35%
}
