<!-- <div class="container text-center padded col-sm-4 col-offset-4">
 <#%= simple_form_for [@project, @booking] do |f| %>
 <div class="input-group date">
   <div class="input-daterange input-group">
    <#%= f.input :date, as: :string, input_html: {style: "width: 150px",  class: "datepicker"} %>
    <#%= f.input :date, as: :string, input_html: {style: "width: 150px",  class: "datepicker"} %>
    <br> <br>
    <#%= f.submit class: "btn btn-primary" %>
    <#% end %>
  </div>
</div>
</div>
 -->
