<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%=cl_image_path("landing_aoafo9.jpg")%>');">
  <div class="banner-content">
    <h1> AlloJustice </h1>
    <h3> Gagnez de l'argent en défendant une cause. </h3>
    <%= link_to "Je découvre les procès", "/projects", class:"btn btn-primary btn-lg" %>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-3">
        <div class="cardhome">
          <div class="cardhome-head">
            <h3>1 : Je dépose un procès pour lequel je cherche un financement</h3>
          </div>
          <div class="cardhome-content">
            <ul>
              <li>Droit bancaire</li>
              <li>Droit de la consommation</li>
              <li>Droit du travail</li>
              <li>Découvrez les litiges éligibles</li>
            </ul>
          </div>
        </div>
      </div> -->


      <div class="col-md-3">
        <div class="cardhome">
          <div class="row">
            <div class="col-md-2">
              <div class="cardhome-number">
                <p>2</p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="cardhome-head">
                <p>La communauté finance mes frais de justice</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="cardhome-content">
                <p>Après examen du litige, je peux commencer à collecter des fonds pour la totalité ou une partie des frais</p>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--













      <div class="col-md-3">
        <div class="cardhome">
          <div class="row">

            <div class="cardhome-head">
              <h3>2 : La communauté finance mes frais de justice</h3>
            </div>
            <div class="cardhome-content">
              <p>Après examen du litige, je peux commencer à collecter des fonds pour la totalité ou une partie des frais</p>
            </div>
          </div>
        </div>













        <div class="col-md-3">
          <div class="cardhome">
            <div class="cardhome-head">
              <h3>3 : Le litige se termine par médiation ou par jugement</h3>
            </div>
            <div class="cardhome-content">
              <ul>
                <li>J’informe la communauté des différentes étapes de la précédure</li>
                <li>A chaque échéance, le montant levé sera transféré à l’avocat</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="cardhome">
            <div class="cardhome-head">
              <h3>4 : Les investisseurs sont rémunérés avec une partie des dommages et intérêts </h3>
            </div>
            <div class="cardhome-content">
              <p>A la fin de la procédure, je rémunère les investisseurs d’un pourcentage des dommages reçus.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
