<div class="banner" style="background-color:#384259">
  <div class="banner-content">
    <h1> AlloJustice </h1>
    <h3> Gagnez de l'argent en défendant une cause. </h3>
    <%= link_to "Je découvre les procès", "/projects", class:"btn btn-primary btn-lg" %>
  </div>
</div>
