/* Main class */
// <%= cl_image_tag("allo_justice_logo_qrifki.png", :quality=>"auto:best", id: "logo") %>
.navbar-wagon {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
.navbar-wagon p {
  font-size: 25px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 35%;
  padding-right: 15px;
  // margin: 0 30px;
}

.navbar-wagon-left{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 35%;
}

#logo {
  flex: 0 0 20%;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
  color: #384259;
  text-align: center;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #384259;
  font-size: 20px;
  border-bottom: solid 1px white;
}
.navbar-wagon-link:hover {
  color: #7AC7C4;
  text-decoration: none;
  border-bottom: solid 1px #7AC7C4;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 20em;
  // line-height: 40px;
  background-color: #384259 ;
  color: white ;
  font-size: 20px;
  border: 2px solid #384259;
}
.navbar-wagon-button:hover {
  color: #384259;
  background: white;
  border-color: #384259;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.pac-container {
 z-index: 10000;
}
