/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.navbar-wagon-button-sign {
  margin: 0 auto 15px auto;
  padding: 5px 20px;
  border-radius: 20em;
  // line-height: 40px;
  background-color: #384259 ;
  color: white ;
  font-size: 20px;
  font-weight: 100;
  border: 2px solid #384259;

}

.navbar-wagon-button-log {
  // margin-top: 30px;
  margin-right: 6px;
  margin-bottom: 15px;
  padding: 5px 20px;
  border-radius: 20em;
  background-color: white ;
  color: #384259 ;
  font-size: 20px;
  font-weight: 100;
  border: 2px solid #384259;
}

.navbar-wagon-button-face {
  // margin-bottom: 10px;
  // margin-left: 10px;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #3B5998;
  color: white ;
  font-size: 20px;
  font-weight: 100;
  border: 2px solid #3B5998;
}
