.wrapper {
  background-color: #EEEEEE;
}
.card {
  background-color: white;
  margin: 10px;
  text-align: center;
  color:  #384259;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5px;
}

.row-photo {
  padding: 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: cover;
  height: 100px;
}

.middle {
  border-right: solid 1px #384259;
  border-left: solid 1px #384259;
}
